html {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(no-war_4x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 12;
}

header h1 {
    padding: 100px;
    text-align: center;
    font-size: 4em;
}

main p {
    font-size: 12em;
    text-align: center;
}